* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;
    background-color: rgb(29, 76, 117);
    color: white;
}

.registro-lista {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    height: 250px;
}

.registro-lista input[type=text] {
    width: 50%;
    padding: 15px 2%;
    margin: 15px 0;
}

.registro-lista input[type=number] {
    width: 50%;
    padding: 15px 2%;
    margin: 15px 0;
}

.registro-lista input[type=submit] {
    cursor: pointer;
    padding: 5px;
}

.lista-produto-single {
    margin: 50px 0;
    padding: 0 2%;
    display: flex;
}

.lista-produto-single h3 {
    flex: 1;
}

.lista-produto-single h3.price-produto {
    text-align: right;
}

.lista-produto-single h3.price-produto > span {
    background-color: rgb(96, 78, 199);
    padding: 2%;
    border-radius: 100px;
    color: white;
}


button[name=limpar]{
    cursor: pointer;
    margin: 20px;
    padding: 15px;
}
